<div class="scrollbar scrollbar-primary overflow-auto container-fluid mh-100">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerClient" class="mt-3">
    <label for="idtype" class="form-label">Tipo Identificación Cliente</label>
    <select
      class="form-control"
      formControlName="idtype"
      [ngClass]="{ 'is-invalid': form.idtype.errors }"
      class="form-control"
      id="idtype"
      aria-describedby="idtype"
    >
      <option disabled>Selecciona tipo de identificación</option>
      <option *ngFor="let ti of typesofid">{{ ti.name }}</option>
    </select>
    <div *ngIf="form.idtype.errors" class="invalid-feedback">
      <div *ngIf="form.idtype.errors.required">
        El tipo de identificación del cliente es obligatorio del cliente es
        obligatoria
      </div>
    </div>
    <div id="idtype" class="form-text">
      Seleccione el tipo de identificación del cliente
    </div>

    <div class="mb-3 input-group-sm">
      <label for="id" class="form-label">Identificación Cliente</label>
      <input
        type="text"
        formControlName="id"
        [ngClass]="{ 'is-invalid': form.id.errors }"
        class="form-control"
        id="id"
        aria-describedby="id"
      />
      <div *ngIf="form.id.errors" class="invalid-feedback">
        <div *ngIf="form.id.errors.required">
          La identificación del cliente es obligatoria
        </div>
      </div>
      <div id="id" class="form-text">
        Escriba el número de identificación del cliente
      </div>
    </div>

    <div class="mb-3 input-group-sm">
      <label for="name" class="form-label">Nombre Cliente</label>
      <input
        type="text"
        formControlName="name"
        [ngClass]="{ 'is-invalid': form.name.errors }"
        class="form-control"
        id="name"
        aria-describedby="name"
      />
      <div *ngIf="form.name.errors" class="invalid-feedback">
        <div *ngIf="form.name.errors.required">
          El nombre del cliente es obligatorio
        </div>
      </div>
      <div id="nombreCliente" class="form-text">
        Escriba el nombre del cliente
      </div>
    </div>

    <label for="gender" class="form-label">Género del Cliente</label>
    <select
      class="form-control"
      formControlName="gender"
      [ngClass]="{ 'is-invalid': form.gender.errors }"
      class="form-control"
      id="gender"
      aria-describedby="gender"
    >
      <option disabled>Selecciona género</option>
      <option *ngFor="let g of genders">{{ g.name }}</option>
    </select>
    <div *ngIf="form.gender.errors" class="invalid-feedback">
      <div *ngIf="form.gender.errors.required">
        El género del cliente es obligatorio
      </div>
    </div>
    <div id="gender" class="form-text">Seleccione el género del cliente</div>

    <div class="mb-3 input-group-sm">
      <label for="birthday" class="form-label"
        >Fecha de Nacimiento del Cliente</label
      >
      <input
        type="date"
        formControlName="birthday"
        [ngClass]="{ 'is-invalid': form.birthday.errors }"
        class="form-control"
        id="birthday"
        aria-describedby="birthday"
        [ngModel]='tempFechaNacimiento | date:"dd-MM-yyyy"'
        (ngModelChange)='tempFechaNacimiento=$event'
      />
      <div *ngIf="form.birthday.errors" class="invalid-feedback">
        <div *ngIf="form.birthday.errors.required">
          La fecha de nacimiento del cliente es obligatoria
        </div>
      </div>
      <div id="nombreCliente" class="form-text">
        Seleccione la fecha de nacimiento del cliente
      </div>
    </div>

    <div class="input-group mb-3 input-group-sm">
      <div class="mb-3 col-7">
        <label for="address" class="form-label">Dirección del Cliente</label>
        <input
          formControlName="address"
          [ngClass]="{ 'is-invalid': form.address.errors }"
          type="text"
          class="form-control"
          id="address"
          aria-label="correoCliente"
        />
        <div *ngIf="form.address.errors" class="invalid-feedback">
          <div *ngIf="form.address.errors.required">
            La dirección del cliente es obligatoria
          </div>
        </div>
        <div id="direccionCliente" class="form-text">
          Escriba la dirección del cliente
        </div>
      </div>
      <div class="mb-3 ms-4 col-4">
        <label for="city" class="form-label">Ciudad del Cliente</label>
        <input
          type="text"
          formControlName="city"
          [ngClass]="{ 'is-invalid': form.city.errors }"
          class="form-control"
          id="city"
          aria-label="city"
        />
        <div *ngIf="form.city.errors" class="invalid-feedback">
          <div *ngIf="form.city.errors.required">
            La ciudad del cliente es obligatoria
          </div>
        </div>
        <div id="city" class="form-text">Escriba la ciudad del cliente</div>
      </div>
    </div>

    <div class="input-group mb-3 input-group-sm">
      <div class="mb-3">
        <label for="email" class="form-label">Correo del Cliente</label>
        <div class="input-group mb-3">
          <input
            type="text"
            formControlName="email"
            [ngClass]="{ 'is-invalid': form.email.errors }"
            class="form-control"
            placeholder="Correo Electrónico"
            id="email"
            aria-label="email"
          />
        </div>
        <div *ngIf="form.email.errors" class="invalid-feedback">
          <div *ngIf="form.email.errors.required">
            El correo del cliente es obligatorio
          </div>
        </div>
        <div id="email" class="form-text">
          Escriba el correo electrónico del cliente
        </div>
      </div>
      <div class="mb-3 ms-3">
        <label for="phonenumber" class="form-label">Teléfono del Cliente</label>
        <input
          type="text"
          formControlName="phonenumber"
          [ngClass]="{ 'is-invalid': form.phonenumber.errors }"
          class="form-control"
          id="phonenumber"
          aria-label="phonenumber"
        />
        <div *ngIf="form.phonenumber.errors" class="invalid-feedback">
          <div *ngIf="form.phonenumber.errors.required">
            El teléfono del cliente es obligatorio
          </div>
        </div>
        <div id="phonenumber" class="form-text">
          Escriba el teléfono del cliente
        </div>
      </div>
    </div>

    <div class="mb-3 input-group-sm">
      <label for="agent" class="form-label">Representante que Inscribe</label>
      <input
        type="text"
        formControlName="agent"
        [ngClass]="{ 'is-invalid': form.agent.errors }"
        class="form-control"
        id="agent"
        aria-describedby="agent"
      />
      <div *ngIf="form.agent.errors" class="invalid-feedback">
        <div *ngIf="form.agent.errors.required">
          El representante del cliente es obligatorio
        </div>
      </div>
      <div id="agent" class="form-text">
        Escriba el representante que inscribe al cliente
      </div>
    </div>

    <div class="d-flex flex-row-reverse">
      <button type="reset" (click)="onReset()" class="btn btn-danger ms-3">
        Cancelar
      </button>
      <button class="btn btn-warning" [disabled]="registerClient.invalid">
        Registrar
      </button>
    </div>
  </form>
</div>
