<div class="scrollbar scrollbar-primary overflow-auto container-fluid mh-100">
    <div class="row d-flex justify-content-center force-overflow">
        <div class="col col-3 input-group-sm mb-3 mt-3 ms-1 me-5 card" *ngFor="let product of Products">
            <img src="../../../assets/img/producto_prueba.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ product.nombre }}</h5>
                <p class="card-text">{{ product.categoria }}</p>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Cantidad: </span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>

                <a href="#" class="btn btn-primary">Agregar al Carrito</a>
            </div>
        </div>
    </div>
</div>